* {
  font-family: 'Varela', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
}

.container section {
  padding: 4rem 3rem;
  font-size: 18px;
  box-sizing: border-box;
  width: 50vw;
}

.form-section {
  background-color: #fff;
}

.address-section {
  background-color: #ebe9e9;
}

form {
  width: 80%;
  box-sizing: border-box;
  font-size: 22px;
}

form, .form-section h1 {
  position: relative;
  opacity: 0;
  animation: lazy-load-left 1.2s;
  animation-fill-mode: forwards;
}

label {
  display: inline-block;
  font-size: 22px;
  margin-bottom: .5rem;
}

input {
  position: relative;
  display: block;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  border: 2.5px solid #ddd;
  transition: border .4s;
  border-radius: 8px;
  margin-bottom: 1rem;
}

input:focus {
  outline: none;
  border: 2.5px solid dodgerblue;
}

sup {
  color: #ff0000;
  font-weight: bolder;
  font-size: 1rem;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  resize: none;
  height: 120px;
  transition: border .4s;
  margin-bottom: 1rem;
  resize:none;
}

textarea:focus {
  outline: none;
  border: 3px solid dodgerblue;
}

form button {
  width: 180px;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  text-align: center;
  background-color: #6d33d8;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.address-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.address-section div {
  position: relative;
  opacity: 0;
  animation: show-from-opacity 1.2s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

h1 {
  font-size: 32px;
}

.address-section p, address{
  font-size: 22px;
}

.address-section address {
  font-style: normal;
  line-height: 30px;
}

.address-section button {
  color: #fff;
  background: rgb(37, 180, 180);
  border: 0;
  outline: 0;
  font-size: 20px;
  padding: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.address-section button:hover {
  transition: background-color .3s;
  background-color: rgb(49, 139, 139);
}

.phone-container div, .email-information div{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  box-sizing: border-box;
}

.phone-container, .email-information div {
  margin-top: -2rem;
}

.mail-information p {
  word-break: break-all;
}

.footer {
  margin-left: 0;
  box-sizing: border-box;
}

@keyframes lazy-load-left {
  0% { left: -30% }

  50% { opacity: 1; }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes show-from-opacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    margin-top: 1rem;
  }

  h1 {
    margin-top: 3rem;
  }

  .container section {
    width: 100%;
  }

  form {
    width: 100%;
    box-sizing: border-box;
  }

  .address-section .address-information{
    margin-top: -2.5rem;
  }
}

@media (min-width: 701px) {
  #contact {
    border-bottom: 5px solid #6719f7;
  }
}

@media (max-width: 700px) {
  h2 { margin-top: 2rem; }
}
