* {
  font-family: 'Varela', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 90vw;
  margin: auto;
  margin-top: 7rem;
}

.container h1 {
  color: #432371;
}

.donuts-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 5rem 6rem;
  padding: 1rem;
  justify-content: center;
}

.donuts-container .donut {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  animation: lazy-load 1.2s;
  animation-fill-mode: forwards;
  border-radius: 10px;
  box-shadow: -1px 2px 18px 0px #ddd;
  -webkit-box-shadow: -1px 1px 18px 0px #ddd;
  -moz-box-shadow: -1px 1px 18px 0px #ddd;
}

.donut:hover {
  cursor: pointer;
  background-color: #eeecec;
  transform: scale(1.05);
  transition: background-color .2s ease-out;
  transition: transform .3s;
}

.donut #close-btn {
  display: none;
  font-size: 50px;
  color: #e84118;
  position: absolute;
  right: 25px;
  top: 10px;
  transition: color .2s;
}

.donut #close-btn:hover {
  cursor: pointer;
  color: #000;
}

.donut img {
  width: 180px;
  height: 180px;
  padding: 1rem;
  margin-top: -1rem;
}

.donut img:hover {
  animation: rotate-donut 2s linear infinite;
}

.donut .donut-name {
  font-size: 25px;
  color: #fff;
  margin-bottom: -20px;
  font-weight: 550;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background: hsla(159, 100%, 50%, 1);

  background: linear-gradient(45deg, hsla(159, 100%, 50%, 1) 0%, hsla(186, 100%, 50%, 1) 20%, hsla(268, 83%, 47%, 1) 98%, hsla(230, 60%, 43%, 1) 100%);
  
  background: -moz-linear-gradient(45deg, hsla(159, 100%, 50%, 1) 0%, hsla(186, 100%, 50%, 1) 20%, hsla(268, 83%, 47%, 1) 98%, hsla(230, 60%, 43%, 1) 100%);
  
  background: -webkit-linear-gradient(45deg, hsla(159, 100%, 50%, 1) 0%, hsla(186, 100%, 50%, 1) 20%, hsla(268, 83%, 47%, 1) 98%, hsla(230, 60%, 43%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FFA6", endColorstr="#00E5FF", GradientType=1 );
}

.donut-content {
  display: none;
  position: relative;
  width: 100%;
  color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.donut-content p {
  font-size: 19px;
  width: 90%;
  margin: auto;
}

/* The .full-bg-dark-wrapper is used as a background wrapper
  to set dark background when a detailed donut card is displayed */
.full-bg-dark-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
}

#wrapper .donut {
  cursor: default;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 9px;
  box-sizing: border-box;
  position: absolute;
  animation: show_donut_card .5s;
  animation-fill-mode: forwards;
}

#wrapper .donut:hover {
  background-color: #fff;
}

#wrapper #close-btn, #wrapper .donut-content {
  display: block;
}

#wrapper .donut img {
  padding: 1rem;
  margin-top: -1rem;
  width: 280px;
  height: 280px;
}

#wrapper .donut-name {
  margin-top: -2rem;
  margin-bottom: 0;
}

#wrapper .donut-content {
  position: relative;
  height: 100%;
  background-color: #dd3b1f; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper .donut-content p {
  margin-top: 10px;
}

.footer {
  margin-bottom: -8px;
}

@keyframes rotate-donut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes lazy-load {
  0% { left: -30% }

  50% { opacity: 1; }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes show_donut_card {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 701px) {
  #donuts {
    border-bottom: 5px solid #11e7d5;
  }

  #wrapper .donut {
    width: 500px;
  }
}

@media (max-width: 700px) {
  #donuts {
    filter: invert(52%) sepia(41%) saturate(6802%)
  hue-rotate(235deg) brightness(90%) contrast(90%);
  }

  #wrapper .donut {
    width: 90%;
    margin: auto;
  }

  .footer {
    margin-bottom: 70px;
  }
}

@media (max-width: 500px) {
  #wrapper .donut img {
    width: 50%;
    height: 50%;
  } 
}

@media (max-width: 400px) {
  #wrapper .donut-name {
    margin-top: -1.7rem;
  }
}