@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Varela&display=swap');

:root {
  --brand-filter-color: invert(52%) sepia(41%) saturate(6802%)
  hue-rotate(235deg) brightness(90%) contrast(90%);
  --white-filter-color: invert(78%) sepia(0%) saturate(0%)
  hue-rotate(29deg) brightness(89%) contrast(85%);
}

/* Outer container which contains brand logo and .nav-continer links */
.navbar {
  font-family: 'Varela', Arial, sans-serif;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: .5rem;
  box-sizing: border-box;
  z-index: 1;
  transition: top .6s ease-in-out;
}

/* Nav continer which contains .navbar-nav */
.nav-container {
  width: 90%;
  margin: auto;
  display: flex;  /* Displaying all the elements in one row */
  align-items: center;
  box-sizing: border-box;
}

/* Displaying logo and text in same row */
.brand-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Circle cropping logo */
.brand-logo img{
  margin-top: 2px;
  clip-path: circle(40% at 50% 50%);
}

/* Styling brand logo text */
.brand-logo span {
  color: #fff;
  margin-top: 0px;
  font-size: 23px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-left: 8px;
  text-transform: uppercase;
}

/* Displaying all the list items (nav-item-group) in one row */
.navbar-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

/* Styling the each nav link */
.navbar-nav a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 25px;
  padding: 6px 0 3px 0;
}

.navbar-nav span {
  font-size: 22px;
}

/* Changing nav link text color on hover state */
.navbar-nav span:hover {
  color: #ddd;
  cursor: pointer;
}

/* Contains icon and link text.
   Displaying nav-item-group in column layout. */
.nav-item-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Each icon(svg) is filtered to display in #fff color */
.nav-icon {
  /* Hiding icons by default */
  display: none;  
  filter: var(--white-filter-color);
}

.footer {
  width: 100%;
  background-color:#040b21;
  color: #fff;
  padding: 1rem;
  box-sizing: content-box;
  margin-left: -24px;
  text-align: center;
}

/* Media query for medium width devices */
@media (max-width: 700px) {
  /* Positioning the navbar with links on bottom for
     better UX on small devices */
  .navbar-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    margin-left: 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 1;
    box-sizing: border-box;
  }

  /* Reducing margins for bottom navbar */
  .navbar-nav ul {
    margin: 10px 0px 14px 0px;
    padding-left: 0;
  }

  .navbar-nav img {
    width: 25px;
    height: 25px;
  }

  .navbar-nav ul a {
    margin: 0;
    color: #a3a3a3;
    padding: 0;
    user-select: none;
  }

  /* Filtering to the brand color on hover state of nav links */
  .navbar-nav a:hover {
    filter: var(--brand-filter-color);
    cursor: pointer;
  }

  .nav-item-group span {
    margin-top: 1px;
  }

  /* Displaying all nav icons on same row */
  .navbar-nav .nav-icon {
    display: inline-block;
  }

  .footer {
    margin-bottom: 70px;
  }
}