.container {
  width: 90%;
  margin: auto;
}

.hero-section {
  margin: 3rem 0 2rem 0;
}

.hero-section .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.hero-section .donut {
  animation: donut-animate .5s linear 2;
}

.hero-section img {
  width: 100px;
  height: 100px;
  filter: invert(57%) sepia(22%) saturate(6933%)
   hue-rotate(195deg) brightness(103%) contrast(101%);
}

.hero-section article {
  position: relative;
  width: 400px;
  margin-bottom: 0;
  opacity: 0;
  animation: animate-hero-content 1s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.hero-section article h1 {
  font-size: 35px;
}

.hero-section .emphasis-text {
  color: #8b8a8a;
  font-size: 1.2rem;
}

.information-section article {
  margin-bottom: 4rem;
}

.information-section article p {
  width: 500px;
  font-size: 20px;
  line-height: 23px;
  color: #341f97;
  letter-spacing: 1px;
}

.brand-text {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.headline-group .headline {
  position: relative;
  font-size: 30px;
}

.headline-group .headline-underline {
  display: block;
  width: 50px;
  height: 8px;
  margin-top: -18px;
  border-radius: 10px;
  animation: animate-underline 9s linear infinite;
}

.footer {
  width: 100vw;
  text-align: center;
  font-size: 15px;
  border-top: 1.3px solid #aaa;
  margin-left: -8px;
}

/* All animations */
@keyframes donut-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-hero-content {
  0% {
    left: -25%;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes animate-underline {
  0% {background-color: #44bd32;}
  50% {background-color: #ff0000}
  100% {background-color: #1B9CFC;}
}

/* Responsive media queries */
@media (max-width: 700px) {
  .footer {
    margin-bottom: 5.2rem;
  }
}

@media(max-width: 600px) {
  .hero-section img {
    width: 80px;
    height: 80px;
  }

  .hero-section article h1 {
    font-size: 35px;
  }

  .information-section article p {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .hero-section article h1 {
    font-size: 30px;
  }

  .information-section article h1 {
    font-size: 26px !important;
  }
}